datasets==2.14.4
evaluate==0.4.0
huggingface-hub==0.16.4
keybert==0.7.0
keyphrase-vectorizers==0.0.11
matplotlib==3.7.2
nltk==3.8.1
numpy==1.25.2
pandas==2.0.3
pickleshare==0.7.5
pytextrank==3.2.5
rake-nltk==1.0.6
scikit-learn==1.2.2
scipy==1.11.1
sentence-transformers==2.2.2
setfit==0.7.0
spacy==3.6.1
tokenizers==0.13.3
torch==2.0.1
transformers==4.33.0
yake==0.4.8
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.0.0/es_core_news_sm-3.0.0.tar.gz"